dist linguist-generated=true

*.example linguist-detectable=false

*.json linguist-detectable=false
*.jsonnet linguist-detectable=false
prettierrc.js linguist-detectable=false
webpack.config.js linguist-detectable=false
