// The port that the signalling server runs on
export const PORT = 6767;

// The url of our website
export const HOST = /* 'www.mywebsite.com' */;

// STUN and TURN customization
export const STUN = {
  url: 'stun3.l.google.com:19302',
};

export const TURN = {
  url: 'numb.viagenie.ca',
  user: 'webrtc@live.com',
  password: 'muazkh',
}

// Set this to true if your domain is addressed to a local IP.
//   This will cause all communications to be made locally.
export const LOCAL_CONNS = false;

// The path to the HTTPS certification keys
export const SSL_CERT = /* '/path/to/mywebsite.com/fullchain.pem' */;
export const SSL_KEY = /* '/path/to/mywebsite.com/privkey.pem' */;

// The name of the video file
export const VIDEO = 'dogs.mp4'
